html{
  background-color: rgb(2, 1, 31);
  color:white;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
  
.nav li {
  margin-right: 10px; 
}

a{
  color:white;
  text-decoration: none;
}
