
/* flex-wrap:wrap-reverse;
flex-direction:column-reverse;
justify-content:center;
align-content:space-between; */

.caja1{
    width: 200px;
    height: 200px;
    background-color: tomato;
    /* sombra fuera */
    box-shadow: 100px 100px 15px;
    /* Sombra dentro */
    /* box-shadow:inset 5px 15px gold; */
}

.title{
    color:blue;
    position:relative;
}

.title::before{ /*Este es el hijo de title*/
    position:absolute;
    width: 20px;
    height: 50px;
    background-color: brown;
    left:50px;
    top:35px;
    content: ''; /* Sin content no se dibujara y hay que tratarlo como si fuera un span  */
}

.title::after{ /*Este es el OTRO hijo de title*/
    content: '';
    position:absolute;
    width: 80px;
    height: 50px;
    background-color: red;
    left:100px;
    top:35px;

}

/* PRACTICA */
.contenedor{
    width: 200px;
    height: 200px;
    background-color: orange;
    box-shadow: 250px 250px rgb(213, 67, 213);
}

.contenedor::after{/* Ciculo hijo 1*/
    content: '';
    position: absolute;
    left:250px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:rgb(160, 77, 160);
    box-shadow: -250px 250px rgb(59, 187, 233), 250px 250px cyan;
}

.contenedor::before{
    content: '';
    position: absolute;
    left:500px;
    width: 200px;
    height: 200px;
    background-color: orange;
}